.title{
    display: block;
    padding: 10% 0 0 0;
}
.title h1 {
    font-size: 50pix;
    text-align: center;
    color: #333;
    font-family:  Anonymous Pro;
    filter: drop-shadow(5px 5px 2px #00000036);
}
.title h2 {
    text-align: center;
    color: #333;
}
.title h3 {
    text-align: center;
    color: #333;
}

.message{
    display: block;
    font-family: Arial, sans-serif;
    padding: 5%;
}
.message p {
    text-align: center;
    color: #333;
}

.form-group {
    margin-bottom: 10px;
}
.senddata {
    text-align: center;
}
label {
    display: block;
}
input[type=text], textarea {
    border: 1px solid #ddd;
    border-radius: 5px;
    box-sizing: border-box;
    width: 100%;
    padding: 8px;
    margin-bottom: 6px;
    border: 1px solid #ccc;
    background-color: #D9D9D9;
    display: inline-block;
}
select{
    border: 1px solid #ddd;
    border-radius: 5px;
    box-sizing: border-box;
    width: 100%;
    padding: 8px;
    margin-bottom: 6px;
    border: 1px solid #ccc;
    background-color: #D9D9D9;
    display: inline-block;

}
button {
    background-color: #A19E9E;
    border-radius: 5px;
    color: white;
    padding: 14px 20px;
    margin: 40px 0;
    border: none;
    cursor: pointer;
    width: 100%;
}

table{
    border-collapse:separate;
    border-spacing: 3px;
    width: 100%;
}

table th,table td{
    border-radius: 5px;
    text-align: center;
    padding: 3px 0;
}

table th{
    background-color: #A19E9E;
    color: white;
    border:solid 1px #000000;
}

table td{
    background-color: #D9D9D9;
    border:solid 1px #636363;
}