/* タイトル */
.title {
  display: block;
  padding: 10% 0 0 0;
}
.title h1 {
  font-size: 50pix;
  text-align: center;
  color: #333;
  font-family: Anonymous Pro;
}
.title h2 {
  text-align: center;
  color: #333;
}
.title h3 {
  text-align: center;
  color: #333;
}


/* タイトル下のメッセージ */
.message-under-title {
  display: block;
  font-family: Arial, sans-serif;
  padding: 5%;
}
.message-under-title p {
  text-align: center;
  color: #333;
}


/* ラベルタグの項目 */
label {
  display: block;
}

/* 編集ボタンとポストボタンのcss */
.buttons {
  display: flex;
  justify-content: center; /* ボタンを中央揃え */
  margin-top: 20px; /* 上部にマージンを追加 */
}
button {
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  font-size: 16px;
  cursor: pointer;
}
.edit-button {
  background-color: #fff;
  color: #333;
  margin: 0 10px;
}
.post-button {
  background-color: #949494;
  color: #333;
  margin: 0 10px;
}
.cancel-button{
  background-color: #fff;
  color: #333;
  margin: 0 10px;
}
.return-button{
  background-color: #fff;
  color: #333;
  margin: 0 10px;
}
.edit-button:hover {
  background-color: #ddd;
}
.post-button:hover {
  background-color: #aaa;
}
.cancel-button:hover {
  background-color: #aaa;
}



